numpy
scipy
pandas
Pillow
matplotlib
tqdm
pyyaml
networkx
setuptools<81
diffusers==0.21.4
transformers==4.36.2
accelerate==0.25.0
huggingface_hub==0.20.3
opencv-python
scikit-image
trimesh
pyrender
pyglet
python-fcl
shapely
open3d
ftfy
regex
openai-clip==1.0.1
